body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ButtonGroup{
  display:flex;
  justify-content: space-around;
}

.ButtonGroup button{
  padding:5px 20px;
  text-transform: capitalize;
  border:1px solid #ccc;
  font-size: 1.2rem;
}

.ButtonGroup button.Danger{
  background:red;
  color:white;
}
.ButtonGroup button.Success{
  background: green;
  color:white;
}
.ButtonGroup button[disabled]{
  cursor: not-allowed;
  background:grey;
}

form>div{
  margin:20px 0;
}